<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Management System Project</title>
</head>
<body bgcolor="grey">
<h2 align="center">Student Learning Management System</h2>

<a href="{% url 'adminhome' %}">Home</a>&nbsp;&nbsp;&nbsp;
<a href="">Change Password</a>&nbsp;&nbsp;&nbsp;
<a href="">Student</a>&nbsp;&nbsp;&nbsp;
<a href="">Faculty</a>&nbsp;&nbsp;&nbsp;
<a href="">Course</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'adminlogout' %}">Logout</a>&nbsp;&nbsp;&nbsp;
<br><br>




</body>
</html>