<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Management System Project</title>
</head>
<body bgcolor="turquoise">
<h2 align="center">Student Learning Management System</h2>

<a href="{% url 'adminhome' %}">Home</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'about' %}">About Project</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'login' %}">Login</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'contact' %}">Contact Us</a>&nbsp;&nbsp;&nbsp;

<br><br>

{% block 'body' %}

<p>I am in HomePage</p>

{% endblock %}


</body>
</html>