{% extends 'index.html' %}
{% block b1 %}
<h1 align="center"><font color="green">Login Page</font></h1>
<form method="post" action="{% url 'checkadminlogin' %}">
    {% csrf_token %}
    <table align="center" border="3">
        <tr>
<td>Enter Name</td>
            <td><input type="text" name="uname" required/></td>
        </tr>
        <tr>
<td>Enter Password</td>
            <td><input type="password" name="pwd" required/></td>
        </tr>
        <tr>
            <td><input type="submit" value="login"></td>
                  <td><input type="reset" value="clear"></td>
        </tr>
    </table>
</form>
{% endblock %}